CLERK_SECRET_KEY=
CLERK_PUBLISHABLE_KEY=

# Application Configuration
APP_VERSION=0.0.1
APP_DESCRIPTION=ILM Math Pilot V2 API

# Database Configuration
DATABASE_URL=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_S3_BUCKET=

EVALUATE_MATH_API_URL=